*{
    padding: 0;
    margin:0;
}
ul,li{
    list-style: none;
}
.nav{
    height: 50px;
}
.warp{
    height: 100%;
}
.flex{
    display: flex;
    align-items: center;
}
.around{   
    justify-content: space-around;
}
.center{
    justify-content: center;
}
.warp > li {
    padding: 10px ;
    /* 点击的时候要改变颜色,注意 */
}
/* 商品列表开始 */
#content {
   flex-wrap: wrap;
}
.pic{
   height: 100%;
   width: 45%;
   flex-shrink: 0;
}
.pic >img {
    border-radius: 10px;
    width: 100%;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0 5px 0;
}
.price {
    color: pink;
}
.text_padding{
    padding: 0 10px 10px 0;
}